{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

{# body {
    font-family: "Poppins", sans-serif;
    color: #444444;
} #}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;  
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
}

.mt-50{

    margin-top: 50px;
}

.mb-50{

    margin-bottom: 50px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1875rem;
}

.card-img-actions {
    position: relative;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

.card-img{

    width: 350px;
}

.star{
        color: red;
}

.bg-cart {
    background-color:orange;
    color:#fff;
}

.bg-cart:hover {
    
    color:#fff;
}

.bg-buy {
    background-color:green;
    color:#fff;
    padding-right: 29px;
}
.bg-buy:hover {
    
    color:#fff;
}

a{

    text-decoration: none !important;
}
</style>

{# Slider Section #}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn2.cellphones.com.vn/690x300/https://dashboard.cellphones.com.vn/storage/Xiaomi%20LP.png" class="d-block w-100" alt="Xiaomi">
    </div>
    <div class="carousel-item">
      <img src="https://cdn2.cellphones.com.vn/690x300/https://dashboard.cellphones.com.vn/storage/690-300-max.png" class="d-block w-100" alt="Gaming">
    </div>
    <div class="carousel-item">
      <img src="https://cdn2.cellphones.com.vn/690x300/https://dashboard.cellphones.com.vn/storage/mac%20m2%20sliding.png" class="d-block w-100" alt="Huawei Matebook">
    </div>
    <div class="carousel-item">
      <img src="https://cdn2.cellphones.com.vn/690x300/https://dashboard.cellphones.com.vn/storage/690-300-mi%20band%207.png" class="d-block w-100" alt="Samsung S22">
    </div>
     <div class="carousel-item">
      <img src="https://cdn2.cellphones.com.vn/690x300/https://dashboard.cellphones.com.vn/storage/xiaomi%20tvv.png" class="d-block w-100" alt="Ipad Mini">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{# Product Section #}
<div class="container d-flex justify-content-center mt-50 mb-50">

            
        <div class="row">
           {% for product in products %}
           <div class="col-md-4 mt-2">
                <div class="card">
                                    <div class="card-body">
                                        <div class="card-img-actions">
                                                <img src="{{ asset('upload/images/products/'~product.image~'') }}" class="card-img img-fluid" width="96" height="350" alt="">
                                        </div>
                                    </div>
                                    <div class="card-body bg-light text-center">
                                        <div class="mb-2">
                                            <h6 class="font-weight-semibold mb-2">
                                                <a href="#" class="text-default mb-2" data-abc="true">{{ product.name }}</a>
                                            </h6>

                                            <a href="#" class="text-muted" data-abc="true">{{ product.category }}</a>
                                        </div>

                                        <h3 class="mb-0 font-weight-semibold">${{ product.price }}</h3>

                                        <div>
                                           <i class="fa fa-star star"></i>
                                           <i class="fa fa-star star"></i>
                                           <i class="fa fa-star star"></i>
                                           <i class="fa fa-star star"></i>
                                        </div>

                                        <div class="text-muted mb-3">Stock: {{ product.stock }}</div>

                                        <button type="button" class="add-cart btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                                    </div>
                                </div>       
           </div> 
            {% endfor %}
        </div>
    </div>
{% endblock %}


